body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #0a3d62;
    color: white;
    padding: 15px;
    text-align: center;
}

nav h2 {
    margin: 0;
}

h1, h2, h3 {
    color: #0a3d62;
    text-align: center;
}

#welcomeText {
    font-size: 18px;
    color: #0a3d62;
    font-weight: bold;
    text-align: center;
}

main, section {
    padding: 20px;
}

/* Buttons */
.btn {
    padding: 10px 20px;
    background-color: #0a3d62;
    color: white;
    text-decoration: none;
    margin: 5px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    background-color: #064078;
    transform: translateY(-2px);
}

/* Bike gallery */
.bike-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-bottom: 20px;
}

.bike-gallery img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
    cursor: pointer;
}

.bike-gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(229, 24, 24, 0.3);
}

/* Login form */
#loginForm input[type="email"],
#loginForm input[type="password"] {
    width: 300px;
    max-width: 90%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

#loginForm button.btn, .logout-btn {
    width: 100%;
    max-width: 300px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.logout-btn {
    padding: 10px 20px;
    background-color: rgb(240, 12, 126);
    color: white;
    border: none;
    border-radius: 5px;
    display: block;
}

footer {
    background-color: #420c98;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Lightbox */
#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

#lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

#closeLightbox {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}